.errorpage {
  text-align: center;
  .btn {
    padding: 4px 72px;
    @include adjust-font-size-to(18px, 2);
    color: white;
    @include background(linear-gradient(45deg, #00BC82 0%, #93D877 100%));
    border: none;
    @include border-radius(28px);
  }
}
.errormsg {
  @include leader(5);
  @include trailer(4);
  @include adjust-font-size-to(36px);
  color: #50B584;
  font-weight: bold;
  &:before {
    content: '“';
    font-size: 48px;
  }
  &:after {
    content: '”';
    font-size: 48px;
  }
}
.errorimage {
  @include trailer(5);
  padding-top: 31.64%;
  background-image: url("/images/errorpage-image.png");
  background-image: none, url("/images/errorpage-image.svg");
  background-repeat: no-repeat;
  @include background-size(contain);
}