.evaluators {
  @include pie-clearfix;

  .evaluators-title {
    width: 160px;
    float: left;
  }

  .evaluators-content {
    width: calc(100% - 160px);
    float: right;
  }

  .evaluators-list {
    list-style: none;
    padding: 0;
    margin: 0;

    @include pie-clearfix;
    @include trailer(.5);

    li {
      @include isolate-grid(2, 10);
      @include trailer(1);

      *{
        display: block;
      }

      img {
        @include trailer(.5);
        @include border-radius(50%);
      }

      p {
        @include adjust-font-size-to(12px, 1);
      }
    }
  }

}
