.gray-container {
  background: #F3F4F5;
  float: right;
  width: calc(100% - 280px);
  padding: rhythm(2);
  @include border-top-radius(rhythm(.5));
  @include box-sizing(border-box);

  .side-title {
    width: 260px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    right: calc(100% + 48px);
    top: 0;
    background: aquamarine;
    @include border-left-radius(rhythm(.5));
  }
}
