$header-height             : 85px;
$search-input-height       : 36px;
$search-button-background  : #6FCFAA;

.header {
  display: none;

  @include at-breakpoint($pad) {
    display: none;
    // display: block;
    width: 100%;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .8);
    z-index: 1000;

    .header-inner {
      width: 100%;
      max-width: 1060px;
      height: $header-height;
      margin: 0 auto;
    }

    .header-logo {
      float: left;
      // @include replace-text-with-dimensions("logo.png");
      background-position: center center;
      height: 100%;
    }

    .header-nav {
      float: left;
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        height: $header-height;
        line-height: $header-height;
        padding-left: rhythm(3);
      }

      a {
        color: #6C736E;
        font-weight: 900;
        @include adjust-font-size-to(18px, 1);

        &:hover {
          text-decoration: none;
        }
      }
    }

    .header-search {
      position: relative;
      float: right;
      height: $header-height;

      * {
        display: inline-block;
        vertical-align: middle;
        height: $search-input-height;
        border: none;
        margin: ($header-height - $search-input-height)*.5 0;
        @include box-sizing(border-box);
        outline: none;
      }

      input[type=search] {
        width: 280px;
        background-color: #efefef;
        padding: 0 18px;
        @include border-left-radius($search-input-height/2);
      }

      .submit {
        background: $search-button-background;
        width: 75px;
        padding: 0 3px 0 0;
        color: white;
        font-weight: 900;
        @include box-sizing(border-box);
        @include border-right-radius($search-input-height/2);

        &:hover {
          background: lighten($search-button-background, 10%);
        }
      }
    }

  }
}
