$header-mobile-height      : 75px;
$header-desktop-height     : 80px;

.header {
  // position: fixed; footer 會出問題
  top: 0;
  left: 0;
  width: 100%;
  height: $header-mobile-height;
  background-color: white;
  z-index: 1000;

  .header-inner {
    width: 100%;
    max-width: 1060px;
    height: $header-mobile-height;
    margin: 0 auto;
    position: relative;
  }

  .header-logo {
    float: left;
    @include replace-text-with-svg("logo");
    background-position: center center;
    height: 100%;
  }

  .header-nav-button {
    float: right;
    margin: 22px 18px 0 0;
    padding: 0 15px;
    color: white;
    line-height: 32px;
    font-weight: bold;
    cursor: pointer;
    background-color: #73CEAB;
    @include border-radius(24px);
  }

  .header-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    @include background(linear-gradient(25deg, rgb(80, 181, 132), rgb(152, 205, 127), rgb(231, 232, 121)));
    clear: both;
    position: relative;
    z-index: 1000;

    &.on {
      display: block;
      @include animation('fadein .5s');
    }

    &.off {
      display: none;
    }

    li {
      margin: 0 12px;

      &.after-interval {
        display: none;

        .event-close & {
          display: block;
        }
      }
    }

    li + li {
      border-top: 1px solid white;
    }

    a {
      @include adjust-font-size-to(20px, 1);
      display: block;
      line-height: 64px;
      text-align: center;
      font-weight: bold;
      color: white;
      &:hover { text-decoration: none; }
    }
    .pre-order {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: 50%;
        margin-left: -96px;
        width: 37px;
        height: 37px;
        background: url(/images/CD-icon.svg) center no-repeat;
      }
    }
  }


  @include at-breakpoint($desktop) {
    position: static;
    background-color: #F9F9F9;
    height: $header-desktop-height;

    .header-inner {
      height: $header-desktop-height;
      .header-logo {
        float: left;
      }
    }

    .header-nav-button {
      display: none;
    }

    .header-nav {
      float: left;
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      background: transparent;
      clear: none;
      position: static;

      &.on {
        display: block;
      }

      &.off {
        display: block;
      }

      li {
        display: inline-block;
        height: $header-desktop-height;
        line-height: $header-desktop-height;
        padding-left: rhythm(2);
        &.active a {
          color: #54B584;
        }

        &.after-interval {
          .event-close & {
            display: inline-block;
          }
        }
      }

      a {
        color: #6C736E;
        font-weight: 900;
        @include adjust-font-size-to(18px, 1);
        line-height: $header-desktop-height;
      }

      .pre-order {
        padding-left: 84px;
        &:before {
          top: 20px;
          left: 40px;
          margin-left: 0;
        }
      }
    }
  }

}
