.hero {
  height: 100vh;
  position: relative;
  background-image: none, image-url("hero-img.png");
  background-image: none, image-url("hero-img.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  .hero-title {
    position: absolute;
    color: #564843;
    right: 25%;
    bottom: 50%;
    @include adjust-font-size-to(22px, 1.25);
  }

}
