.hero {
  height: 100vh;
  position: relative;

  .hero-logo {
    position: absolute;
    top: 0;
    left: 0;

    // temp
    height: 100px;
    width: 300px;
    line-height: 100px;
    padding-left: 30px;
  }

  .hero-title {
    text-align: right;
    position: absolute;
    color: #818181;
    right: 60px;
    bottom: 30px;
  }
}
