.intro {
  position: relative;
  padding: 0 0 rhythm(5);
  margin-bottom: -30px;
  overflow: hidden;
  @include background(linear-gradient(#FFFFFF, #F5F5F5));

  .intro-content {
    position: relative;
    z-index: 10;

    p {
      width: 90%;
      max-width: 550px;
      margin: 0 auto;
      text-align: left;

      &:first-child {
        @include trailer(1.5);
      }
    }
  }

  [class^="intro-hr-"] {
    position: absolute;
    height: 8px;
    width: 100%;
    @include background(linear-gradient(left, #57C0C7, #E4E779));
    @include animation('fadein 3s');

    @include at-breakpoint($desktop) {
      width: 90%;
    }
  }

  .intro-hr-top {
    right: 0;
    top: 0;
    @include at-breakpoint($desktop) {
      @include border-left-radius(4px);
    }
  }

  .intro-hr-bottom {
    bottom: 0;
    left: 0;
    display: none;
    @include at-breakpoint($desktop) {
      display: block;
      @include border-right-radius(4px);
    }
  }

  @include at-breakpoint($desktop) {
    margin-bottom: 0;
    padding: rhythm(2.5) 0 rhythm(5);
  }
}

.intro-right-lines,
.intro-left-lines {
  position: absolute;
  width: 100%;
  height: 100%;

  [class^="line-"],
  [class^="line-"]:before,
  [class^="line-"]:after {
    position: absolute;
    height: 16px;
    @include border-radius(8px);
    @include animation('stretch 2.5s');
  }

  [class^="line-"]:before,
  [class^="line-"]:after {
    content: "";
    display: block;
  }
}

.intro-right-lines {
  display: none;

  .line-1 {
    width: 87px;
    background: #F4F4F4;
    right: 170px;
    top: 30px;

    &:before {
      background: #E6E6E6;
      width: 185px;
      left: 205px;
    }
  }

  .line-2 {
    width: 34px;
    background: #F4F4F4;
    right: 433px;
    top: 90px;

    &:after {
      background: #F4F4F4;
      width: 257px;
      left: 87px;
    }

    &:before {
      background: #E6E6E6;
      width: 116px;
      left: 314px;
    }
  }

  .line-3 {
    width: 87px;
    background: #F4F4F4;
    right: 170px;
    top: 154px;

    &:after {
      background: #E6E6E6;
      width: 190px;
      left: 50px;
    }
  }

  .line-4 {
    width: 203px;
    background: #E6E6E6;
    right: 147px;
    top: 217px;
  }

  @include at-breakpoint($desktop) {
    display: block;
    top: 0;
    padding: rhythm(2.5) 0 rhythm(5);
  }
}

.intro-left-lines {
  bottom: -90px;
  left: -30px;

  .line-1 {
    width: 93px;
    background: none;
    left: 231px;
    bottom: 179px;

    &:after {
      background: #E6E6E6;
      width: 185px;
      right: 246px;
    }

    &:before {
      background: #F4F4F4;
      width: 23px;
      right: 110px;
    }

    @include at-breakpoint($desktop) {
      background: #E6E6E6;
    }
  }

  .line-2 {
    width: 70px;
    background: #FFFFFF;
    left: 307px;
    bottom: 115px;

    &:after {
      background: #E6E6E6;
      width: 85px;
      right: 93px;
    }

    &:before {
      background: #FFFFFF;
      width: 217px;
      right: 124px;
    }
  }

  .line-3 {
    width: 186px;
    background: #FFFFFF;
    left: 237px;
    bottom: 50px;

    &:before {
      background: #FFFFFF;
      width: 87px;
      right: 265px;
    }
  }

  @include at-breakpoint($desktop) {
    top: 0;
    bottom: 0;
  }
}
