.list-more-song, .next-song, .go-to-list {
  text-align: center;
  margin: rhythm(2) auto;

  .btn {
    position: relative;
    width: 80%;
    max-width: 300px;
    @include border-radius(3px);
    @include box-sizing(border-box);
    @include adjust-font-size-to(18px, 1);
    padding: 12px 24px;
    @include trailer(.5);
    &:after {
      content: "";
      display: inline-block;
      vertical-align: top;
      @include replace-text-with-svg(icon-note);
    }
  }

  @include at-breakpoint($pad) {
    margin: rhythm(2) auto;
  }
}

.go-to-list {
  position: relative;
  z-index: 10;
  margin: rhythm(3) auto rhythm(2);
}

.list-more-song {
  // @include animation('fadein 7s');

  .searching & {
    display: none;
  }
}

.next-song {
  @include at-breakpoint($pad) {
    @include leader(5);

    .btn {
      padding-right: rhythm(2);
      padding-left: rhythm(2);
    }

    .btn:first-child {
      margin-right: rhythm(1);
    }
  }
}

.go-to-list {
  @include at-breakpoint($desktop) {
    .btn {
      width: 300px;
    }
  }
}
