.page-title {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
  // @include animation('fadein 5s');

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    @include background(linear-gradient(left, #67C299, #E8ED91));
  }

  .page-title-inner {
    @include box-sizing(border-box);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 24px;
    overflow: hidden;

    h1 {
      @include leader(7);
      @include trailer(0);
      font-weight: 900;
      display: block;
      width: 100%;
      @include adjust-font-size-to(26px);
    }

    p {
      @include trailer(0);
      @include adjust-font-size-to(13px);
      &:last-child {
        @include trailer();
      }
    }
  }

  &.list {
    background-image: none, image-url("/images/page-title-background.png");
    background-image: none, image-url("/images/page-title-background.svg");
    background-repeat: no-repeat;
    background-position: top center;
  }

  &.song {
    text-align: left;
    padding-bottom: 36px;
  }

  @include at-breakpoint($pad) {

    &.song {
      height: 150px;
      padding-bottom: 0;
      overflow-y: hidden;

      &:after {
        height:6px;
      }
    }

    &.song:before {
      content: "";
      display: block;
      position: absolute;
      bottom: -187px;
      left: 20px;
      width: 374px;
      height: 374px;
      @include background(linear-gradient(135deg, #FFFFFF 20%, #E7E7E7 100%));
      @include border-radius(50%);
      @include transition(width 1s ease, height 1s ease);
      // @include animation('fadein 3s');
    }
  }

  @include at-breakpoint($desktop) {
    height: 265px;
    margin-top: 0;
    padding-bottom: 0;

    .page-title-inner {
      @include box-sizing(content-box);
      max-width: 984px;
      position: relative;
      text-align: left;
      background: transparent;

      h1 {
        @include leader(2);
        @include adjust-font-size-to(34px);
        text-align: left;
        padding: 0;
        padding-bottom: 16px;
      }
      p {
        @include adjust-font-size-to(16px);
        br { display: none; }
      }
    }

    &.song {
      height: 185px;
    }

    &.list {
      background-position: 120% 55%;
    }
  }

  @include at-breakpoint($wide-screen) {
    &.list {
      background-position: 80% 55%;
    }
  }
}
