.song-tool-buttons {

  *,
  .vote-button-container * {
    @include adjust-font-size-to(18px, 1);
    height: 35px;
    line-height: 35px;
    display: inline-block;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    margin-right: 0;
    background: none;
    text-align: center;
    color: white;
    vertical-align: top;
  }

  .vote-button-container {
    float: right;

    * {
      float: left;
    }

    .vote-button {
      width: 100px;
      background-color: #46B37F;
      @include border-left-radius(6px);
      margin-right: -6px;
      position: relative;

      .icon-vote {
        display: inline-block;
        @include replace-text-with-svg(vote-icon);
        display: none;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        right: -14px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 17.5px 0 17.5px 14px;
        border-color: transparent transparent transparent #46B37F;
      }

      &:hover {
        background-color: #A7CD6B;

        &:after {
          border-color: transparent transparent transparent #A7CD6B;
        }
      }

      &.done,
      &.done:hover {
        background-color: #EAEAEA;
        color: #A2A8B3;

        &:after {
          border-color: transparent transparent transparent #EAEAEA;
        }
      }
    }

    .vote-count {
      color: white;
      background: #F5463C;
      padding: 0 10px 0 28px;
      @include border-right-radius(6px);

      float: left;
    }
  }

  .fb-share {
    width: 60px;
    background: none;
    border: 2px solid #51BE91;
    color: #51BE91;
    line-height: 1;
    margin: 0 10px 0 30px;
    @include border-radius(6px);

    &:hover {
      background-color: #50B584;
      color: white;
    }
  }

  .song & {
    padding: 0 30px;
    margin: 0 -24px;

    .vote-button-container {
      float: initial;

      * {
        float: initial;
      }
    }

    .fb-share {
      margin: 0;
      margin-right: 5px;
    }

  }

  .song-list & {
    float: left;
  }

  @include at-breakpoint($pad) {
    .song & {
      text-align: left;
      position: absolute;
      bottom: 24px;
      left: 24px;

      .fb-share {
        margin-right: 10px;
      }
    }
  }

  @include at-breakpoint($desktop) {

    .vote-button-container {
      float: initial;

      * {
        float: left;
      }

      .vote-button {
        width: 150px;
      }

      .vote-count {
        padding: 0 20px 0 34px;
      }
    }

    .fb-share {
      width: 90px;
      margin: 0;
    }

    .song-item & {
      position: absolute;
      top: 0;
      right: 0;
    }

    .song-list & {
      float: initial;

      .fb-share {
        margin-left: 10px;
      }
    }
  }

}
