.song-list {
  min-height: 100vh;
  list-style: none;
  margin: 0;
  padding: 0;
  @include leader(.5);
  @include trailer(3);

  .song-item {
    position: relative;
    @include trailer(1);

    .song-string {
      display: none;
    }

    .song-content {
      background: #F5F5F5;
      padding: 10px 30px 30px 30px;
      position: relative;
    }

    .song-number {
      @include adjust-font-size-to(50px, 1.75);
      font-weight: 200;
      color: #ABABAB;
      text-decoration: none;

      &:hover {
        color: #50B584;
      }
    }

    .song-info {
      text-decoration: none;

      * {
        font-weight: 300;
      }

      .song-title {
        color: #5C5C5C;
        @include adjust-font-size-to(22px, 1);
        padding-top: rhythm(.75);
        margin-bottom: 8px;
      }

      .song-artist {
        color: #ABABAB;
        @include adjust-font-size-to(14px, 1);
      }

      &:hover * {
        color: #50B584;
      }
    }

    .vote-count {
      color: #939393;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 30px;
      @include adjust-font-size-to(14px, 1);
    }
  }

  @include at-breakpoint($desktop) {
    @include leader(1.5);

    .song-item {
      height: 190px;
      padding-left: 6px;
      @include trailer(3);

      .song-content {
        background: none;
      }

      &:before,
      &:after {
        content: "";
        display: block;
        width: 6px;
        @include border-radius(3px);
        position: absolute;
        left: 0;
        top: 0;
      }

      &:before {
        height: 100%;
        background-color: #E4EE6A;
      }

      &:after {
        height: 40%;
        background-color: #00BC82;
      }

      .song-number {
        @include adjust-font-size-to(65px, 1.75);
        position: absolute;
        top: 0;
        left: 30px;
      }

      .song-info {
        position: absolute;
        top: 0;
        left: 160px;

        .song-title {
          padding-top: 0;
          @include adjust-font-size-to(32px, 1);
          margin-bottom: 10px;
        }

        .song-artist {
          @include adjust-font-size-to(18px, 1);
        }
      }

      .vote-count {
        top: 0;
        right: 290px;
        padding: 0;
      }
    }
  }

}
