= javascript_include_tag \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
  "http://connect.soundcloud.com/sdk.js", \
  "/vender/slick.min.js", \
  "animate", \
  "waveform", \
  "soundcloud", \
  "all"
