= javascript_include_tag \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
  "http://connect.soundcloud.com/sdk.js", \
  "/vender/slick.min.js", \
  "global", \
  "animate", \
  "waveform", \
  "soundcloud"


- if $pagename == "list"
  = javascript_include_tag "list"

- if $pagename == "song"
  = javascript_include_tag "song"

= javascript_include_tag "all"
