// ---- susy setting ----
// basic for susy
$total-columns  : 4;
$column-width   : 60px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            : 640px 8;
$desktop        : 960px 12;
$wide-screen    : 1680px 20;

// page-container
$page-container: ".container";

// debug layout
// @import "layout-debug";

// ---- container setting ----

body {
  background-color: #183840;

}

.page {
  overflow-x: hidden;
}

.page-inner {
  overflow: hidden;
  background-color: white;
}

#{$page-container} {

  $container-style: fluid;
  @include container;

  @include at-breakpoint($pad) {
    $grid-padding   : $gutter-width * 2;
    @include container;
  }

  @include at-breakpoint($desktop) {
    $container-style: magic;
    @include set-container-width;
  }
  @include at-breakpoint($wide-screen) {
    $container-style: magic;
    @include set-container-width;
  }

}

.content {
  background: #F5F5F5;
  position: relative;

  // &:before {
  //   content: "";
  //   background: #F5F5F5;
  //   position: absolute;
  //   top: -30px;
  //   left: 0;
  //   height: 30px;
  //   width: 100%;
  //   display: block;
  // }

  .container {
    position: relative;
    z-index: 10;
  }

  @include at-breakpoint($desktop) {

    @include padding-trailer(3);

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      border-style: solid;
      border-width: 60vh 60vw;
      border-color: transparent transparent white white;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -30vh;
      right: -30vw;
      border-style: solid;
      border-width: 60vh 60vw;
      border-color: transparent white white transparent;
    }
  }
}
